@font-face{
	font-family: "Dancing-Script";
	src: url(../fuentes/DancingScript-Bold.ttf);
}
body{
	font-family: Dancing-Script;
}
header{
	display: flex;
	border-radius: 10px 10px 0px 0px;
	background-color: #5b7989;
}

h1{
	margin-left: 30px;
	color: white;
	text-shadow: #02010a 2px 2px;
}

nav { 
	display: flex;
	margin:20px;
	margin-top: 5%;
	margin-left: 50%;
	font-size: 20px;
	font-family: Dancing-Script;
}

.inicio{
	margin: 10px;
}

.paisajes{
	margin: 10px;
}

.retratos{
	margin:10px;
}

#imagen-central{
	background-color: #82c3a6;
	background-size: 600px;
	text-align: center;
}

#imagenes-secundarias{
	background-color: #d5c75f;
	background-size: 600px;
}
.c1{

}

.c2{
	
}

.c3{
	
}

@media all and (max-width:300px){
.c1{
	width:100%;
	order:1;
	}
.c2{
	width:100px;
	order:2;
	}
.c3{
	width:100px;
	order:2;
	}
}

@media all and (max-width:600px) and (min-width:300px){
.c1{
	width:100%;
	}
.c2{
	width:50%;
	}
.c3{
	width:50%;
	}
}